@model CartListViewModel
@if (Model.Carts.Count == 0)
{
    <h2>Your Cart</h2>

    <font size="3" color="darkpurple"><b>Your cart is empty!</b></font><br />
    <font size="3" color="darkpurple"><b>Please add product to continue..</b></font>
}
else{
<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Number of Stock</th>
        </tr>
    </thead>
    @foreach(var cartLine in Model.Carts)
    {      
            <tbody>
                <tr>
                    <td>@cartLine.Id</td>
                    <td>@cartLine.productName</td>
                    <td>@cartLine.Price</td>
                    <td>@cartLine.Stock</td>
                    

                    <td><a class="btn btn-sm btn-danger" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@cartLine.Id">Remove from Cart  <i class="fa-solid fa-trash-can"></i></a></td>
                </tr>
               
            </tbody>           
     
    }
        <td><strong>Total Price:</strong></td>
        <td><strong>@Model.Total</strong></td>

</table>
    <td><a class=" btn btn-success btn-group-sm" asp-controller="Cart" asp-action="Complete">Complete Order  <i class="fa-regular fa-credit-card"></i></a></td>

}


